:root {
  --bgc: #f6f6f6;
  --elems-bgc: #fff;
  --prime-color: #526ed3;
  --dark-prime: #314692;
  --light-prime: #717b9f;
  --text-color: #303030;
  --hover-text: #fff;
  --dark-gray: #6d6f7a;
  --gray: #717171;
  --light-gray: #e3e3e3;
  --placeholder-color: #8c8c8c;
  --disabled-bgc: #C1C6D3;
  --red: #dc2020;
  --green: #36ac82;
  --blue: #399efa;
}
